# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.04.Factory.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Latif\RiderProjects\AL1\04-factory\exercice\init\.idea\.idea.04.Factory.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
