# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.05.Strategy.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Latif\RiderProjects\AL1\05-strategy\exercice\init\.idea\.idea.05.Strategy.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
